@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  padding-top: 20px;
  background-color: #f8f9fa;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.navbar {
  margin-bottom: 20px;
}
